<div id="sidebar">
	<!--modified by css-->
	<a id="google-news" class="sidebar-item">
		<img src="img/google.png"></img>
	</a>
	<a id="reddit-news" class="sidebar-item">
		<img src="img/reddit.jpg"></img>
	</a>
	<a id="acm-news" class="sidebar-item">
		<img src="img/acm.jpg"></img>
	</a>
</div>

<div id="info-bar">
	<!-- all are filled by javascript and styled by css -->
	<div class="info-bar-item" id="world-news"></div>
	<div class="info-bar-item" id="reddit-programming"></div>
	<div class="info-bar-item" id="acm"></div>
</div>